@keyframes anim {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-o-keyframes anim {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-ms-keyframes anim {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-moz-keyframes anim {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes anim {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.post {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 155px;
  padding: 10px;
  margin: 10px auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border:none;
}

.panel-effect {
  position: relative;
  background: #f6f7f8 no-repeat 800px 104px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmOCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZWRlZWYxIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f6f7f8), color-stop(20%, #edeef1), color-stop(40%, #f6f7f8), color-stop(100%, #f6f7f8));
  background-image: -moz-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  height: 135px;
  -moz-animation: anim 1s forwards infinite linear;
  -webkit-animation: anim 1s forwards infinite linear;
  animation: anim 1s forwards infinite linear;
}

.fake-effect {
  position: absolute;
  background: #fff;
  right: 0;
  left: 0;
  height: 6px;
}

.fe-0 {
    height: 135px;
    right: 203px;
    width: auto;
}

.fe-1 {
    height: 7px;
    right: 30%;
    left: 45%;
    top: 10%;
    background-color: #f6f7f8;
}

.fe-2 {
    height: 7px;
    right: 30%;
    left: 50%;
    top: 30%;
    background-color: #f6f7f8;
}

.fe-3 {
    height: 7px;
    right: 30%;
    left: 30%;
    top: 50%;
    background-color: #f6f7f8;
}

.fe-4 {
    height: 10px;
    right: 30%;
    left: 60%;
    top: 70%;
    background-color: #f6f7f8;
}

.fe-5 {
    height: 10px;
    right: 45%;
    left: 45%;
    top: 70%;
    background-color: #f6f7f8;
}

.fe-6 {
  height: 20px;
  top: 40px;
}

.fe-7 {
  right: 410px;
  top: 60px;
}

.fe-8 {
  height: 13px;
  top: 66px;
}

.fe-9 {
  right: 440px;
  top: 79px;
}

.fe-10 {
  height: 13px;
  top: 85px;
}

.fe-11 {
  right: 178px;
  top: 98px;
}

.section-supplier .fake-effect-supplier .post{
    padding: 0;
    height: 400px;
}

.section-supplier .fake-effect-supplier .fe-0{
    left: 260px;
    right: 0;
}

.section-supplier .fake-effect-supplier .fe-1{
    right: 0;
    left: 90%;
}

.section-supplier .fake-effect-supplier .fe-2{
    right: 0;
    left: 80%;
}

.section-supplier .fake-effect-supplier .fe-3{
    right: 0;
    left: 87%;
}

.section-supplier .fake-effect-supplier .fe-4{
    height: 8px;
    right: 0;
    left: 90%;
}

.section-supplier .fake-effect-supplier .fe-5{
    height: 8px;
    right: 0;
    left: 95%;
    top: 90%;
}

.section-supplier .fake-effect-supplier .fe-6{
    height: 8px;
    right: 10%;
    left: 85%;
    top: 90%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-7{
    height: 8px;
    right: 20%;
    left: 75%;
    top: 90%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-8{
    height: 8px;
    right: 30%;
    left: 65%;
    top: 90%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-9{
    height: 8px;
    right: 0;
    left: 90%;
    top: 110%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-10{
    height: 8px;
    right: 0;
    left: 70%;
    top: 130%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-11{
    height: 8px;
    right: 0;
    left: 75%;
    top: 150%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-12{
    height: 8px;
    right: 0;
    left: 90%;
    top: 170%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-13{
    height: 8px;
    right: 0;
    left: 55%;
    top: 190%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-14{
    height: 8px;
    left: 10%;
    right: 77%;
    top: 115%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-15{
    height: 8px;
    left: 6%;
    right: 77%;
    top: 140%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-16{
    height: 8px;
    left: 15%;
    right: 77%;
    top: 165%;
    background-color: #f6f7f8;
}

.section-supplier .fake-effect-supplier .fe-17{
    height: 8px;
    left: 2%;
    right: 77%;
    top: 190%;
    background-color: #f6f7f8;
}

@media screen and (max-width: 600px) {
    .fe-0{
        height: 135px !important;
        right: 135px !important;
    }

    .fe-1{
        right: 45% !important;
        left: 20% !important;
    }

    .fe-2{
        right: 45% !important;
        left: 10% !important;
    }

    .fe-3{
        right: 45% !important;
        left: 5% !important;
    }

    .fe-4{
        right: 45% !important;
        left: 35% !important;
    }

    .fe-5{
        right: 70% !important;
        left: 10% !important;
    }
}
